html, body {
    height: 100vh;
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px; 
    padding: 5px 20px;
    border: 2px solid black;
    flex-shrink: 0;
}

#navItem {
    display: flex;
    font-size: 1.3rem;
    gap: 10px;
    cursor: pointer;
}
h1 {
    cursor: pointer;
}

#main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#itemContainer {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.itemBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
    height: 150px;
    width: 150px;
    border: 4px solid black;
    border-radius: 5px;
}
.itemBox.vegetables {
    border: 4px solid green;
}
.itemBox.snack {
    border: 4px solid orange;
}
.itemBox.toy {
    border: 4px solid red;
}

#cartContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
#itemCartContainer {
    grid-column: 1;
    border-right: 2px solid black;
    overflow-y: auto;
}
#itemDescContainer {
    grid-column: 2;
    overflow: hidden;
}
.cartBox-1 {
    display: flex;
    gap: 10px;
}
button {
    font-size: inherit;
    cursor: pointer;
}
.addOrLessButton {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.addButton {
    border: 2px solid green;
    background-color: #378537;
}
.lessButton {
    border: 2px solid red;
    background-color: #c44343;
}
hr {
    margin: 10px auto;
}


/* Mobile */
@media (min-width: 320px) {
    body {  
        font-size: 0.8rem;
    }
    #navItem h2 {
        font-size: 1.5rem;
    }

    .itemBox {
        height: 150px;
        width: 125px;
    }
}

/* Landscape Mobile */
@media (min-width: 640px) {
    body {  
        font-size: 1rem;
    }
    #navItem h2 {
        font-size: 1.7rem;
    }

    .itemBox {
        height: 175px;
        width: 150px;
    }
}

/* Tablet */
@media (min-width: 768px) {
    body {  
        font-size: 1.2rem;
    }
    #navItem h2 {
        font-size: 1.9rem;
    }

    .itemBox {
        height: 200px;
        width: 175px;
    }
}

/* Laptop & Dekstop*/
@media (min-width: 1024px) {
    body {  
        font-size: 1.6rem;
    }
    #navItem h2 {
        font-size: 2.3rem;
    }

    .itemBox {
        height: 225px;
        width: 200px;
    }
}

/* Dekstop */
@media (min-width: 1200px) {
    .itemBox {
        height: 240px;
        width: 215px;
    }
}
