body {font-family: Arial, Helvetica, sans-serif;}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

nav {
    border: 2px solid black;
    height: 75px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

#navItem {
    display: flex;
    font-size: 1.3rem;
    gap: 10px;
    cursor: pointer;
}

#itemContainer {
    display: flex;
    padding: 10px;
    gap: 10px;
}
.itemBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid black;
    height: 200px;
    width: 150px;
}