* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}


/* Navigation Bar */
.navbar {
    position: sticky;
    top: 0;
    height: 75px;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 1000;
    background-color: #ffffff;
}
#logo {
    font-size: 2rem;
}
#nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}
#nav-list li b {
    font-size: 1.4rem;
}
.navbar b {
    cursor: pointer;
}
#more-menu {
    display: none;
}

@media (max-width: 799px) {
    #nav-list {
        display: none;
    }
    #more-menu {
        display: flex;
        cursor: pointer;
    }
}


/* Title */
.title {
    width: 98vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    margin-bottom: 10px;    
}
#second-title {
    font-size: 3rem;
    margin-bottom: 15px;
}
#subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
#buttonBox {
    width: 55vw;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sub-buttonBox {
    height: 40px;
    padding-left: 25px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
}

@media (max-width: 799px) {
    #first-title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        margin-bottom: 10px;    
    }
    #second-title {
        font-size: 2.3rem;
        margin-bottom: 15px;
    }
    #subtitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    
}


/* Container 1 */
.container-1 {
    width: 98vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subContainer-1 {
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    border: 3px solid red;
    border-radius: 20px;
}
#subContainer1-box1 {
    grid-column: span 3;
    grid-template-rows: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
#subContainer1-box2 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: blue;
}
#subContainer1-box3 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: green;
}
#subContainer1-box4 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: yellow;
}
#subContainer1-box5 {
    grid-column: span 3;
    grid-row: span 2;
    background-color: purple;
}
#subContainer1-box2,
#subContainer1-box3,
#subContainer1-box4,
#subContainer1-box5 {
        display: flex;
        align-items: center;
        justify-content: center;
}


/* Container 2 */
.container-2 {
    width: 98vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px 1fr;
    gap: 1rem;
    padding: 1rem;
}
#container2-box1 {
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#container2-titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#container2-titleBox h1 {
    font-size: 3rem;
}
#container2-box2 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}
#container2-dataBox {
    width: 70%;
    height: 35%;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}
#container2-box3 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#container2-box3 hr {
    border: none;
    background-color: gray;
    height: 2px;
}
#container2-box3 b {
    font-size: 1.4rem;
}
#container2-box3 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}
#container2-buttonContainer {
    height: 60px;
    display: flex;
    align-items: center;
}
#container2-button {
    width: max-content;
    padding: 5px 5px 5px 20px;
    color: white;
    background-color: black;
    cursor: pointer;
}

@media (max-width: 799px) {
    #container2-titleBox h1 {
        font-size: 2rem;
    }
    #container2-box3 b {
        font-size: 1.2rem;
    }
    #container2-box3 p {
        font-size: 1.2rem;
    }
}


/* Container 3 */
.container-3 {
    width: 98vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 175px 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid black;
}
#container3-box1 {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
#container3-titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#container3-titleBox h1 {
    font-size: 3rem;
}
#container3-box2 {
    grid-column: span 1;
    grid-row: span 1;
}
#container3-box3 {
    grid-column: span 1;
    grid-row: span 1;
}
#container3-box4 {
    grid-column: span 1;
    grid-row: span 1;
}
#container3-subBox2,
#container3-subBox3,
#container3-subBox4 {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.container3-logoBox {
    display: flex;
    align-items: center;
}
.container3-logo {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}
.container3-subTitle {
    grid-row: span 2;
    font-size: 1.2rem;
}


/* Container 4 */
.container-4 {
    width: 98vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px solid black;
}
#container4-subContainer {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #7ae0ff;
    border: 2px solid black;
    border-radius: 10px;
}
#container4-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container4-subBox1 {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: purple;
}
#container4-box2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#container4-subBox2 {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0.5rem;
    font-size: 1.1rem;
}
#container4-button {
    height: 35px;
    width: max-content;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    color: white;
    background-color: black;
}


.container-1,
.container-2,
.container-3,
.container-4 {
    margin: 10px auto;
}